@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
      --dark-grey:grey;
      --white: white;
      --primary-color:#8B5CF6;
}
body{
    font-family: 'Oswald', sans-serif;
    margin:0px;
}

hr{
    margin: 2rem 0rem;
}

/**container**/
.container{
    
}